name: python-build
on: [push]
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: python -m pip install .[test] --upgrade pip
    - name: Test with pytest
      run: pytest
    - name: Build package distribution
      if: startsWith(github.ref, 'refs/tags')
      run: |
        python -m pip install build 
        python -m build --sdist --wheel --outdir dist/ .
    - name: Publish package distribution to PyPI
      if: startsWith(github.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@master
      with:
        skip_existing: true
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
